:root {
    --mainBiege: #B6AD97;
    --mainBlue: #364864;
    --mainPurple: #3F3C69;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.mainHeader {
    position: fixed;
    width: 100%;
    padding-left: 0.5em;
    display: flex;
    flex-direction: row;
    background: radial-gradient(var(--mainPurple), var(--mainBlue));
}
.logo {
    height: 10em;
    width: auto;
}
.logoPic {
    height: 8em;
    width: auto;
}
.logoTitle {
    color: white;
    font-weight: 900;
    font-size: large;
}
.navbar {
    display: flex;
    position: fixed;
    right: 2em;
    padding: 1em;
    width: 20%;
}
.navList {
    display: flex;
    padding-top: 10%;
    flex: auto;
}
.navItem {
    list-style: none;
    flex: auto;
    padding: 0% 5% 0% 5%;
}
.navItem  a {
    text-decoration: none;
    color: var(--mainBiege);
    font-weight: 600;
    padding: 5%;
}
.navItem a:hover, .navItem a:active {
    background-color: var(--mainPurple);
    color: black;
}
.welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    margin: 0% 25%;
}
.welcomeHeader {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.welcomeContent {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
}
.serviceGrid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.topLeftServiceIcon {
    grid-area: 1/1/2/2;
}
.topLeftServiceList {
    grid-area: 1/2/1/3;
}
.centerMidServiceIcon {
    grid-area: 2/3/3/4;
}
.centerMidServiceList {
    grid-area: 2/4/3/5;
}
.bottomRightServiceIcon {
    grid-area: 3/5/4/6;
}
.bottomRightServiceList {
    grid-area: 3/6/4/7;
}